<article>
    <div class="row">
        <div class=" text-center light-border col-md-8 col-md-offset-2">
            <h1 class="blue"><%= @article.title %></h1>
            <p class="text-right small"><u>
                <%= link_to "Atrás", articles_path %></u> -
                <span class="red"><%= @article.visits_count %> visita(s)</span> - 
                <% unless @article.user.nil? %>
                    Escrito por: <%= @article.user.email %>
                <% end %>
            </p>
            <div class="text-justify top-space">
                <%= @article.body %>
            </div>
            
            <div class="top-space">
                <%= render "articles/comments" %>
            </div>
        </div>
    </div>
</article>



	
    
    <div class="field">
        <% @article.categories.each do |category| %>
            <%= link_to category.name, category, style: "color:#{category.color}"%>
        <% end %>
    </div>
    
	<p>
		Visitas: <%= @article.visits_count %>
	</p>

<div class="field">
    <%= image_tag @article.cover.url(:thumb)%>
</div>
<div>
	
</div>

<div>
	<h3>Cometnarios</h3>
	<%= render "comments/form" %>
	<ul id="comments-box">
	    
	</ul>
	<ul>
		<% @article.comments.each do |comment| %>
			<li>
				<%= comment.body %> - <%= comment.user.email %>
			</li>
		<% end	%>
	</ul>
</div>

<%= link_to "Editar", edit_article_path(@article) %>